.goods-item {
    display: inline-block;
    width: 300px;
    border: 2px solid #000;
    margin-left: 15px;
    text-align: center;
    height: 400px;
    margin-top: 20px;
    
}
.goods-item:hover {
    box-shadow: 6px 6px #989898;
}
.img{
    height: 300px;
    width: 300px;
}
h3{
    height: 7px;
}
p{
    height: 7px;
}

header {
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(43, 6, 6);
}

button.cart-button {
    margin-left: 95%;
    border: 2px solid black;
    border-radius: 10px;
    height: 30px;
    background-color: #7c68ff;
}

main{
    margin-top: 30px;
    margin-left: 7%;
}
.BasketItem-list{
    background-color: white;
}